.aboutHeader {
  font-size: 5rem;
  text-align: center;
  font-weight: bold;
  margin: 75px 0px;
}

.aboutText {
  line-height: 35px;
}

.aboutText h3 {
  font-weight: 700;
}

.profPic {
  height: auto;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.aboutContainer {
  display: flex;
}

.aboutImg {
  border: 3px solid #770000;
  box-shadow: 3px 3px 15px black;
}
