.contactForm input,
textarea {
  display: block;
  width: 500px;
  font-size: 1.5rem;
}

.contactForm textarea {
  height: 100px;
}

Button {
  width: 25%;
  color: "#770000";
  height: 3rem;
  margin-top: 25px;
}

textarea {
  margin-bottom: 25px;
}
